.DS_Store
/.idea
~*
/node_modules
/typechain
/abi/*
!/abi/external
/cache
/artifacts
/scripts/farm.ts
.env
.openzeppelin/*
# eth
!.openzeppelin/mainnet.json
!.openzeppelin/goerli.json
# bsc mainnet
!.openzeppelin/unknown-56.json
# bsc testnet
!.openzeppelin/unknown-97.json
# polygon mainnet
!.openzeppelin/unknown-137.json
# polygon testnet
!.openzeppelin/unknown-80001.json
